<!--회원 수정 페이지-->
<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/header :: head ('회원탈퇴')"></head>

<body class="text-center d-flex flex-column h-100">
<header th:replace="layout/header :: header"></header>

<main class="form-signin">
    <div class="container border rounded flex-md-row mb-4 shadow-sm h-md-250">
        <h4>회원을 탈퇴하시겠습니까? </h4>
        <form id="needs-validation" novalidate>
        <input type="hidden" id="id" th:value="${#authentication.principal.id}">
        </form>
        <button class="w-100 btn btn-lg btn-success" id="btn-delete">회원탈퇴</button>
    </div>
</main>

<footer th:replace="layout/footer :: footer"></footer>

<!--경로 변경 절대 금지 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/validation-update.js}"></script>
<script th:src="@{/js/user.js}"></script>




</body>

</html>